@import "modules/reset";
@import "modules/variables";
@import "modules/layout";

body, html {
  padding: 0;
  margin: 0;
}

#app {
  // font-family: Roboto;
  background: $white;
}

footer {
  color: $text-secondary;
  text-align: right;
  font-size: 0.8em;
  a {
    outline: none;
    color: lighten($text-secondary, 10%);
    &:hover {
      color: $text-secondary;
    }
  }
}

.popup-content {
  min-width: 220px;
  min-height: 100px;
  max-width: 350px;
}

.app-name {
  font-size: 14px;
  text-align: center;
  color: rgba(0,0,0,0.87);
}

p.description {
  color: rgba(0,0,0,0.87);
  max-height: 100px;
  font-size: 0.8em;
  line-height: 1.2;
  margin: 30px 0 10px;
}

.site-description {
  padding: 0.5em;
  border: 1px solid $gray;
  margin: 0;

  h3 {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid $gray;
    padding-bottom: 0.5em;
  }

  .url {
    outline: none;
    text-decoration: none;
    line-height: 1.2;
    font-size: 0.8em;
    word-break: break-word;
    display: block;
  }
}

.action-container {
}

.btn {
  background: none;
  border: none;
  display: inline-block;
  cursor: pointer;
  padding: 0.5em 1.5em;
  background: $brand-primary;
  color: $white;
  font-weight: $headings-font-weight;
  border-radius: 2px;
  outline: none;
  font-size: 1em;
}

.popup-content {
  header {
    margin: 20px 20px 0;
  }

  footer {
    padding: 20px 20px;
  }
}

.list-unstyled {
  list-style: none;
  padding-left: 0;
}

.dropdown-item { 
  font-size: 12px;
  text-transform: uppercase;

  &.active,
  &:hover {
    background-color: #A0C8E1; /* colour can be changed */

    a {
      color: white;
    }
  }

  a {
    display: block;
    color: rgba(0,0,0,0.38);
    padding: 10px 20px;
  }
 }